/* Global reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    scroll-behavior: smooth;
}

/* Body design */
body {
    background-color: #6f9ed37a;
    text-align: center;
}

/* Header styling */
header {
    background-color: rgba(255, 255, 255, 0.8);
}

header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.7rem;
}

header li {
    list-style-type: none;
}

/* Input styling */
.search-container input {
    padding: 0.5rem;
    font-size: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 2rem;
}

input:focus {
    outline: none;
}

/* Image styling */
header img {
    border: 1px solid transparent;
    border-radius: 50%;
}

/* Navbar styling */
.nav-bar {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    ;
    padding: 0.7rem;
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.562);
}

.nav-bar li {
    list-style-type: none;
}

.nav-bar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

/* nav-bar links styling */
.nav-bar a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.596);
}

.nav-bar a:hover,
.nav-bar a:focus {
    text-decoration: underline;
    color: black;
}

/* main styling */

/* h1 styling */
main h1 {
    color: blue;
    font-family: sans-serif;
    line-height: 6rem;
}

/* the whole box */
section.box {
    animation: popIn 0.8s ease-in-out;
    border: 2px solid transparent;
    margin: auto;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.418);
    padding: 2rem 1rem;
    max-width: 67%;
}

/* h2 */
section.box h2 {
    color: blue;
}

section.box h4 {
    color: black;
    text-align: left;
}

section.box p {
    margin-top: 1.5rem;
    text-align: left;
}

/* all the images now */
div.image-gallery {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
}

.image-gallery img {
    border: 1px solid transparent;
    border-radius: 1rem;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.623);
    animation: fadeIn 1.2s ease-in-out;
    transition: transform 0.3s ease;
}

.image-gallery img:hover {
    transform: scale(1.1);
}

/* more text */
section .heading {
    text-align: left;
    margin-top: 2rem;
    font-size: 1rem;
}

/* button */
section button {
    background-color: blue;
    padding: 0.4rem 1rem;
    border-radius: 3rem;
    margin-top: 4rem;
    color: white;
    font-weight: 900;
}

button:hover {
    background-color: rgba(0, 0, 255, 0.384);
    color: black;
    text-shadow: 0 0 2px black;
    animation: popIn 0.3s ease-in-out;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
}

section a {
    color: blue;
    animation: rotateIn 0.6s ease-in-out;
    display: inline-block;
    transition: transform 0.3s ease;
}

section a:hover {
    transform: translatey(-10px);
    transform: scale(1.2);
    color: rgba(0, 0, 255, 0.7);
}

/* the icons */
section .icons {
    color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 2rem;
}

/* footer */
footer {
    color: blue;
    background-color: white;
    position: fixed;
    bottom: 0;
    padding: 1rem;
    left: calc(-50vw+50%);
    width: 100%;
    text-align: center;
    animation: slideIn 0.8s ease-in-out;
}

/* Keyframes */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes popIn {
    from {
        transform: scale(0.9);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes rotateIn {
    from {
        transform: rotate(-10deg);
        opacity: 0;
    }

    to {
        transform: rotate(0);
        opacity: 1;
    }
}